<div class="row">
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-body">
                <div class="form-group">
                    <label for="typeahead-prevent-manual-entry">Оберіть початковий населений пункт:</label>
                    <input id="typeahead-prevent-manual-entry"  type="text" class="form-control"
                        [(ngModel)]="startCity"
                        [ngbTypeahead]="search"
                        [inputFormatter]="formatter"
                        [resultFormatter]="formatter"
                        [editable]='false' />
                    <hr>
                    <pre class="text-success" *ngIf="startCity">Початковий населений пункт: {{ startCity.name }}</pre>
                </div>
                <div class="form-group">
                    <label for="typeahead-prevent-manual-entry">Оберіть кінцевий населений пункт:</label>
                    <input id="typeahead-prevent-manual-entry"  type="text" class="form-control"
                        [(ngModel)]="endCity"
                        [ngbTypeahead]="search"
                        [inputFormatter]="formatter"
                        [resultFormatter]="formatter"
                        [editable]='false' />
                    <hr>
                    <pre class="text-success" *ngIf="endCity">Кінцевий населений пункт: {{ endCity.name }}</pre>
                </div>
            </div>
        </div>
        <br>
        <button [disabled]="!endCity || !startCity" class="btn btn-primary" (click)="find()">Знайти шлях</button>
        <br>
        <br>
        <div *ngIf="optimalCitiesPath.cities.length > 0">
            <h3>Оптимальний маршрут:</h3>
            <ul class="list-group list-group-flush">    
                <li *ngFor="let c of optimalCitiesPath.cities;index as i" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-group-item-success">
                    {{ c.city.name }}
                    <span class="badge badge-pill badge-warning">{{ c.distance }}</span>
                </li>
            </ul>
            <hr>
            <h7 *ngIf="startCity">Загальна довжина шляху: {{ optimalCitiesPath.totalDistance }}</h7>
        </div>
        

    </div>
    <div class="col-md-6">
        <h2>Список населений пунктів:</h2>
        <ul class="list-group">
            <li *ngFor="let c of cities; index as i" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                {{ c.name }}
                <span class="badge badge-primary badge-pill">{{ i + 1 }}</span>
            </li>
        </ul>
    </div>
</div>



