<div class="row">
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-body">
                <div class="form-group">
                    <label for="typeahead-prevent-manual-entry">Оберіть початковий обласний центр:</label>
                    <input id="typeahead-prevent-manual-entry"  type="text" class="form-control"
                        [(ngModel)]="startCity"
                        [ngbTypeahead]="search"
                        [inputFormatter]="formatter"
                        [resultFormatter]="formatter"
                        [editable]='false' />
                    <hr>
                    <pre>Початковий обласний центр: {{ startCity | json }}</pre>
                </div>
                <div class="form-group">
                    <label for="typeahead-prevent-manual-entry">Оберіть кінцевий обласний центр:</label>
                    <input id="typeahead-prevent-manual-entry"  type="text" class="form-control"
                        [(ngModel)]="endCity"
                        [ngbTypeahead]="search"
                        [inputFormatter]="formatter"
                        [resultFormatter]="formatter"
                        [editable]='false' />
                    <hr>
                    <pre>Кінцевий обласний центр: {{ endCity | json }}</pre>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" (click)="find()">Знайти шлях</button>
    </div>
    <div class="col-md-6">
        <h2>Список обласних центрів:</h2>
        <ul class="list-group">
            <li *ngFor="let c of cities; index as i" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                {{ c.name }}
                <span class="badge badge-primary badge-pill">{{ i + 1 }}</span>
            </li>
        </ul>
    </div>
</div>



